.button {
    width: 80px;
	height: 36px;
	background-color: #DD3E3E;
	font-size: 14px;
	font-weight: 600;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 0;
	cursor: pointer;
	outline: none;
	transition: opacity 0.4s;
}
.button:hover {
	opacity: 0.9;
}