.button {
    width: 80px;
	height: 36px;
	background-color: #ec0b0b;
	font-size: 14px;
	font-weight: 600;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 0;
	cursor: pointer;
	outline: none;
	transition: background-color 0.35s;
}
.button:hover {
    background-color: #e64747;
}