.list_item {
    margin-bottom: 15px;
}
.list_item__address {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.list_item__icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 10px;
}
.list_item__block {
    margin-bottom: 5px;
}